{% extends "base.html" %}

{% load stp_extras %}


{% block content %}

    {% if user.is_authenticated %}
        {{ user.get_username }}
    {% endif %}

    {% if campaign %}
        {{ campaign.name }}
        {{ campaign.remarks }}
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        {{ formset.management_form }}

        {% for i, j in item_set|zip:formset %}
            {{ i.name }}, {{ j }}<br />
        {% endfor %}

        <label for="submit_button">submit</label>
        <input type="submit" id="submit" name="submit">
    </form>

{% endblock content %}