{% extends "base.html" %}

{% load stp_extras %}


{% block content %}

    {{ campaign.name }},
    {{ campaign.remarks }}

    <form method="post" action="">
        {% csrf_token %}
        {{ basket_item_form_set.management_form }}

        {% for i, j in item_set|zip:basket_item_form_set %}
            {{ i.name }}, {{ j }}<br />
        {% endfor %}

        <label for="submit_button">submit</label>
        <input type="submit" id="submit" name="submit">
    </form>

{% endblock content %}